# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
*.egg
.pytest_cache/

# Node / Angular
node_modules/
.angular/
dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
*.env.local

# Data
downloads/
*.csv
*.log

# OS
.DS_Store
Thumbs.db
